.chat-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}


.message-box-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-section {
  img {
    border-radius: 50%;
  }
}

.option-bar {
  text-align: end;
  font-size: 25px;
}

.name-section {
  h5 {
    margin: 0;
  }
}

.header {
  align-items: center;
  background: #f0f2f5;
  height: 60px;
}

.body {
  background-image: url(../../../../assets/backgrnd.png);
  min-height: 555px;
  background-color: #efeae2;


  .chat-container {
    position: relative;
    width: 100%;
    // height: calc(80vh - 105px);
    height: 565px;
    /*60+60*/
    padding: 50px;
    overflow-y: scroll;
    scrollbar-width: thin;

  }

  .message-box {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
  }

  .message-box p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
  }

  .message-box.my-message p::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
  }

  .message-box p span {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    // opacity: 0.5;
  }

  .my-message {
    justify-content: flex-end;
  }

  .friend-message p {
    background: #fff;
  }

  .friend-message {
    justify-content: flex-start;

  }

  .chat-container .my-message i {
    color: yellow;
  }

  .message-box.friend-message::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
  }

  .chatbox-input {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chatbox-input i {
    cursor: pointer;
    font-size: 1.8em;
    color: #515855;
  }

  .chatbox-input i:nth-child(1) {
    margin: 15px;
  }

  .chatbox-input i:last-child {
    margin-right: 25px;
  }

  .chatbox-input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    border: none;
    outline: none;
  }
}

.fileover {
  border: 3px dotted red;
  // background-color: #FFF;
  opacity: 0.5;
  // background-color: #ababab;
  // background: url("../../../../assets/drop-files-here-extra.jpg");
  // background-size: cover;
  // width: 100%;
  // height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 60px;
  min-height: 60px;
  max-height: max-content;
  // height: 120px;
  background-color: #f0f2f5;

  .message-box {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 5px 0;

    i {
      font-size: 25px;
      padding: 5px;
    }

    textarea {
      width: 100%;
      border: none;
      // border-radius: 0 0 7px 7px;
      border-radius: 7px;
      padding: 10px;
      resize: none;
      scrollbar-width: none;
    }

    textarea:focus-visible {
      outline: none;
    }

    // input {
    //   width: 100%;
    //   min-height: 40px;
    //   border: none;
    //   border-radius: 7px;
    //   padding: 0 10px;

    // }

    // input:focus-visible {
    //   outline: none;
    // }

    .bx-send {
      position: absolute;
      right: 0;
      margin: 0 10px;
      cursor: pointer;
    }
  }

}


.dropdown-menu {
  width: 200px;
  padding: 5px;

  // transform: rotate(-180deg);
  li {
    display: flex;
    align-items: center;
    margin: 2px 0;
    cursor: pointer;
  }

  label {
    align-items: center;
  }

  li:hover {
    background-color: #dbdbdb;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

// .emoji-container {
//   position: relative;
// }

.emoji-mart {
  position: absolute;
  bottom: 100%;
  left: 0;
}

.bx-smile,
.bx-plus {
  cursor: pointer;
}

.message-box p:hover {
  background-color: #000000;
  opacity: 1000000;
}

.selected-file{
  background: white;
    margin: 10px 0px 0px 70px;
    border-radius: 7px 7px 0 0;
    padding: 10px;
}

.selected-file-div-s {
  display: flex;
  width: 60%;
  background-color: #f3252569;
  height: 34px;
  border-radius: 11px;
  padding:20px;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid #cabebe;
}

.c-p {
  cursor: pointer;
}

.groupByDate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .showDay {
    padding: 5px;
    color: #54656f;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 4px;

  }
}