<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title">Create Group</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 px-5">
                <input type="text" placeholder="Enter group name" class="input-box">
            </div>
            <div class="col-md-6 px-5">
                <div>
                    <input type="text" placeholder="searching.." class="input-box" [(ngModel)]="searchedWord" (input)="onTyping()" >
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 px-5 py-3">
                <div>
                    <h2>Selected Users</h2>
                    <div class="user-list-box">
                        <div *ngFor="let selectedUser of selectedUserList; let i=index">
                            <div (click)="unSelectUser(i)"
                                class="sel-user-list d-flex justify-content-between px-3">
                                {{ selectedUser.employeeName}} <span style="color: red;">x</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-5 py-3">
                <div>
                    <h2>User List</h2>
                    <div class="user-list-box">
                        <div *ngFor="let user of searchedUserList; let i=index">
                            <div (click)="selectUser(i)" class="user-list  px-3">
                                {{ user.employeeName }} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">Create</button>
    </div>
</ng-template>